@charset "UTF-8";

/* ここからハンバーガーメニュー */
header {
  height: 0;
}
.nav_toggle {
  display: block;
  position: relative;
  top: 2rem;
  left: 93%;
  width: 1.75rem;
  height: 1.5rem;
  z-index: 1;
}

.nav_menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.nav {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.nav {
  position: fixed;
  top: 4rem;
  left: 91%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.nav p {
  color: white;
  font-size: 1rem;
  margin: 2rem auto;
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

/* ハンバーガーicon */
.nav_toggle i {
  display: block;
  width: 100%;
  height: .1rem;
  background-color: white;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}

/* バツが表示される */
.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* ここからトップ */
.video-wrap {
  position: relative;
}
video {
  display: block;
  margin: 0 0 0 auto;
  opacity: .4; 
}
.video-wrap p {
  font-family: serif;          
  color: #fff;
  font-size: 400%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}
.top {
  background-color: black;
  display: inline-block;
}

.video-wrap span {
  font-family: serif;          
  color: rgb(255, 255, 255, .2);
  font-size: 200%;
  border: 2px solid rgb(255, 255, 255, .2);
  padding: 1rem 3rem;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}


/* ここからポートフォリオ */
.portfolio {
  height: 35rem;
  font-weight: bold;
  border-top: solid 3px #e50112;
  border-bottom: solid 3px #e50112;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portfolio-title {
  font-size: 5rem;
  font-family: 'Sriracha', cursive;
  position: absolute;
  top: 1rem;
  left: 2rem;
  transform: translateY(10px) rotate(-10deg);
  z-index: 1;
}

.portfolio-square-all {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.portfolio-square {
  width: 14rem;
  height: 14rem;
  background-color: rgba(255, 54, 31, 0.3);
  border: solid 1rem #e50112;
  color: black;
}

.portfolio-text {
  height: 14rem;
  font-family: 'Meiryo UI','Hannotate SC',sans-serif;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-text p {
  margin-top: 2rem;
}


/* ここからトレーニング */
.training {
  width: 100%;
  height: 45rem;
  background-color: #e84b3a;
  display: flex;
  justify-content: center;
}

.training-bigbox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.training-title {
  font-size: 5rem;
  font-family: 'Sriracha', cursive;
  position: absolute;
  top: 1rem;
  left: -2rem;
  transform: translateY(10px) rotate(-10deg);
  z-index: 1;
}

.training-square-left {
  width: 30%;
  height: 37rem;
  background-color: white;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.training-left-text {
  font-family: 'Sriracha', cursive;
  font-family: 'Meiryo UI','Hannotate SC',sans-serif;
  line-height: 2rem;
}

.training-left-text h1 {
  font-size: 2.2rem;
  margin: 2.2rem 0;
}

.training-left-text h3 {
  font-size: 1.2rem;
}

.training-square-right {
  width: 70%;
  height: 37rem;
  display: flex;
  flex-wrap: wrap;
}

.training-right-box1 {
  width: 24rem;
  height: 18rem;
  background-color: #c0392b;
}

.training-right-text {
  margin: 2rem 2rem;
  color: white;
  font-family: 'Sriracha', cursive;
  font-family: 'Meiryo UI','Hannotate SC',sans-serif;

}

.training-right-box2,
.training-right-box3,
.training-right-box4 {
  width: 24rem;
  height: 18rem;
  background-color: #c0392b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.training-right-box2 img,
.training-right-box3 img,
.training-right-box4 img {
  width: 22rem;
  height: 15rem;
}

.training-right-box1 h1 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.training-right-box2 h1,
.training-right-box3 h1,
.training-right-box4 h1 {
  font-size: .8rem;
  margin-bottom: .5rem;
  color: white;
  font-family: 'Sriracha', cursive;
}

.training-right-box1 {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.training-right-box2 {
  margin-left: .5rem;
  margin-bottom: .5rem;
}

.training-right-box3 {
  margin-top: .5rem;
  margin-right: .5rem;
}

.training-right-box4 {
  margin-top: .5rem;
  margin-left: .5rem;
}

