@charset "UTF-8";

/* ここからハンバーガーメニュー */
header {
  height: 0;
}

.nav_toggle {
  display: block;
  position: relative;
  top: 2rem;
  left: 93%;
  width: 1.75rem;
  height: 1.5rem;
  z-index: 1;
}

.nav_toggle:hover {
  cursor: pointer;
}

.nav_menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.nav {
  position: fixed;
  top: 4rem;
  left: 91%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.nav p {
  color: white;
  font-size: 1rem;
  margin: 1.5rem auto;
  padding-bottom: .5rem;
  position: relative;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav p::after {
  border-bottom: solid 1px white;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

.nav p:hover::after {
  width: 100%;
}

.nav.show {
  opacity: 1;
  visibility: visible;
}

/* ハンバーガーicon */
.nav_toggle i {
  display: block;
  width: 100%;
  height: .1rem;
  background-color: white;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

@media screen and (max-width: 767px) {
  .nav {
    top: 4rem;
    left: 80%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }

  .nav p {
    font-size: .8rem;
    margin: 1rem auto;
    padding-bottom: .3rem;
    position: relative;
  }

  .nav_toggle {
    position: relative;
    top: 2rem;
    left: 85%;
    width: 1.75rem;
    height: 1.5rem;
    z-index: 1;
  }
}

/* ここから矢印ボタン */
.arrow-up {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  cursor: pointer;
  display: none;
  z-index: 100;
}

.arrow-up img {
  width: 50px;
}

/* ここからトップ */
.video-wrap {
  position: relative;
}

video {
  width: 100%;
  display: block;
  margin: 0 0 0 auto;
  opacity: .4; 
}

.video-wrap p {
  width: 60%;
  text-align: center;
  font-family: serif;          
  color: #fff;
  font-size: 400%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.top {
  background-color: black;
  display: inline-block;
}

.top-click span {
  font-family: serif;          
  color: rgba(255, 255, 255, .2);
  font-size: 200%;
  border: 2px solid rgba(255, 255, 255, .2);
  padding: 1rem 3rem;
  cursor:pointer;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

.top-click span {
  background:linear-gradient(
        to right,
        rgba(255, 255, 255, .2),
        rgba(255, 255, 255, .2) 50%,
        transparent 50%,
        transparent) 100% 0 / 200% 100%;
  transition:background-position 0.3s;
}

.top-click span:hover {
  background-position:0 0;
  border: 2px solid rgba(255, 255, 255, .2);
  color: white;
}

.top-click span:active {
  padding: .8rem 2.8rem;
  color: gray;

}

@media screen and (max-width: 767px) {
  .top-click span {
    position: absolute;
    top: 70%;
    left: 50%;
  }

  .video-wrap p {
    font-size: 200%;
  }
}

/* ここからポートフォリオ */
.portfolio {
  width: 100%;
  height: 35rem;
  font-weight: bold;
  border-top: solid 2rem #ec6c1f;
  border-bottom: solid 2rem #d01026;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portfolio-title {
  font-size: 5rem;
  font-family: 'Sriracha', cursive;
  background: linear-gradient(transparent 70%, rgba(252, 238, 33, 0.8) 0%);
  position: absolute;
  top: -1rem;
  left: 2rem;
  transform: translateY(10px) rotate(-10deg);
  z-index: 1;
}

.portfolio-square-all {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.portfolio-box {
  width: 14rem;
  height: 14rem;
  overflow: hidden;
}

.portfolio-box:hover {
  box-shadow: 3px 3px 25px #00b5de;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}

.portfolio-square a {
  text-decoration: none;
  color: black;
}

.back-img1 {
  background-image: url(../img/introduction.jpeg);
  background-position: center;
  background-size: cover;
	width: 14rem;	/*画像の幅*/
  height: 14rem;	/*画像の高さ*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;	/*変化に掛かる時間*/
}

.back-img1:hover,
.back-img2:hover,
.back-img3:hover {
  transform: scale(1.4);	/*画像の拡大率*/
  transition-duration: 0.1s;	/*変化に掛かる時間*/
  cursor: pointer; /*カーソルをポインターにする*/
}

.back-img2 {
  background-image: url(../img/flower.jpeg);
  background-position: center;
  background-size: cover;
	width: 14rem;	/*画像の幅*/
  height: 14rem;	/*画像の高さ*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;	/*変化に掛かる時間*/
}

.back-img3 {
  background-image: url(../img/mrs.greenapple.jpeg);
  background-position: center;
  background-size: cover;
	width: 14rem;	/*画像の幅*/
  height: 14rem;	/*画像の高さ*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;	/*変化に掛かる時間*/
}

.portfolio-text {
  width: 10rem;
  height: 10rem;
  font-family: 'Meiryo UI','Hannotate SC',sans-serif;
  line-height: 1.5rem;
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-text span {
  background: linear-gradient(transparent 70%, rgba(0,181,222, 0.5) 0%);
}

.portfolio-text p {
  font-size: .9rem;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .portfolio {
    height: 180vh;
  }

  .portfolio-title {
    position: absolute;
    top: -1rem;
    left: 1rem;
  }

  .portfolio-square-all {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
  }

  .portfolio-box {
    margin-bottom: 2rem;
  }
}

/* ここからトレーニング */
.training {
  width: 100%;
  height: 45rem;
  background-color: #e94c4e;
  display: flex;
  justify-content: center;
}

.training-bigbox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.training-title {
  font-size: 5rem;
  font-family: 'Sriracha', cursive;
  background: linear-gradient(transparent 70%, rgba(252, 238, 33, 0.8) 0%);
  position: absolute;
  top: 1rem;
  left: -2rem;
  transform: translateY(10px) rotate(-10deg);
  z-index: 1;
}

.training-square-left {
  width: 30%;
  height: 37rem;
  background-color: white;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.training-left-text {
  font-family: 'Sriracha', cursive;
  font-family: 'Meiryo UI','Hannotate SC',sans-serif;
  line-height: 2rem;
}

.training-left-text h1 {
  width: 6rem;
  font-size: 2.2rem;
  border: dashed .5px;
  padding: .5rem .5rem;
  margin-bottom: 3rem;
}

.training-left-text h3 {
  font-size: 1.2rem;
}

.training-left-text span {
  background: linear-gradient(transparent 50%, rgba(0,181,222, 0.5) 0%);
}

.training-square-right {
  width: 70%;
  height: 37rem;
  display: flex;
  flex-wrap: wrap;
}

.training-right-box1 {
  width: 24rem;
  height: 18rem;
  background-color: #d01026;
}

.training-right-text {
  margin: 1rem 2rem;
  color: white;
  font-family: 'Sriracha', cursive;
  font-family: 'Meiryo UI','Hannotate SC',sans-serif;
}

.training-right-text p {
  border: solid .1px;
  padding: .5rem .5rem;
}

.training-right-box2,
.training-right-box3,
.training-right-box4 {
  width: 24rem;
  height: 18rem;
  background-color: #d01026;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.training-right-box2 img,
.training-right-box3 img,
.training-right-box4 img {
  width: 90%;
  height: 85%;
}

.training-right-box1 h1 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.training-right-box2 h1,
.training-right-box3 h1,
.training-right-box4 h1 {
  font-size: .8rem;
  margin-bottom: .5rem;
  color: white;
  font-family: 'Sriracha', cursive;
}

.training-right-box1 {
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.training-right-box2 {
  margin-left: .5rem;
  margin-bottom: .5rem;
}

.training-right-box3 {
  margin-top: .5rem;
  margin-right: .5rem;
}

.training-right-box4 {
  margin-top: .5rem;
  margin-left: .5rem;
}

@media screen and (max-width: 767px) {
  .training {
    height: 440vh;
    display: flex;
    align-items: flex-start;
  }
  
  .training-bigbox {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .training-title {
    position: absolute;
    top: 6rem;
    left: 0rem;
  }

  .training-square-left {
    width: 90%;
    margin-top: 10rem;
    margin-right: 0;
  }

  .training-square-right {
    width: 90%;
    margin-top: 3rem;
  }

  .training-right-box1,
  .training-right-box2,
  .training-right-box3,
  .training-right-box4 {
    width: 100%;
    margin: 1rem 0;
  }
}

/* ここからフッター */
.footer__container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

@media screen and (max-width: 767px) {
  .footer_text {
  }
}